/* Globales */
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%; 
}

/* Navbar */
header{
    background-color: #16C8B1;
    width: 100%;
    height: 4rem;
    position: sticky;
    left: 0px;
    top: 0px;
}


img{
    width: 100px;
    height: 40px;
}

header nav ul li{
    margin-left: 120px;    
    display: inline-block;
}

header nav ul li a{
    text-decoration: none;
    font-family: 'Francois One', sans-serif;
    font-size: 19px;
    color: black;
    text-align: center center;
    text-align: end;
}

header nav ul li a:hover{
    color:rgb(55, 0, 255);
    
}

/* main */
main{
    background-color: black;
}

main section div nav ul li a{
    color: rgb(58, 43, 226);
    text-decoration: none;
    font-size: 20px;
}
main section div nav ul li a:active{
    color: rgb(101, 226, 43);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.li_container{
    color: white;
    margin-left: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

h1{
    color: white;
    text-align: center;
    font-size: 70px;
    font-family: 'Bevan', cursive;
}

h2{
    margin-left: 10px;
    color: white;
    font-size: 50px;
    font-family: 'Francois One', sans-serif;
    text-align: center;
}

h3{
    margin-left: 10px;
    color: red;
    font-size: 40px;
    font-family: 'Francois One', sans-serif;
    text-align: center;
}

.h3_curiosidades{
    text-align: start;
    font-size: 20px;
}

/* section */
section{
    display: flex;
    margin-top: 30px;
    color: black;
    

}

section div{
    width: 100%;
    
}

section div ul{
    margin-bottom: 30px;
}

.imagen_l4d2{
    width: 560px;
    height: 315px;
}

.img_vid{
    display: flex;
    justify-content: space-evenly;
}


p{
    color: white;
    padding: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
}

/* Footer */
footer{
    display: flex;
    padding-left: 470px;
    font-family: 'Roboto', sans-serif;
    background-color:#16C8B1;    
    height: 9rem;
}


.p_footer{
    color: black;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.logo_whatsapp{
    position: fixed;
    left: 1260px;
    bottom: 20px;
    width: 50px;
    height: 50px;
}

.logo_instagram{
    padding-top: 2rem;
    margin-bottom: 10px;
    width: 100px;
    height: 70px;
}

.logo_gmail{    
    margin: 20px;
    width: 50px;
    height: 50px;
}

.logo_facebook{
    margin: 20px;
    width: 50px;
    height: 44px;
}


/* personajes.html e infectados.html */
.img_1{
    width: 400px;
    height: 250px;
}

.img_2{
    width: 400px;
    height: 400px;
}

.img_3{
    width: 250px;
    height: 150px;
    margin-bottom: 30px;
}

.div_img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_vid_colum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





/* descargar_juego.html */
.li_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    font-size: 30px;
    
}

.h3_descargar_juego{
    text-align: start;
}

/* contacto.html */
form{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 1200px;
    height: 500px;
    padding: 30px;
    font-size: 15px;
}



.main_section_div_form{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    
}