@use './variables' as vars;

@use './mixin' as mixin;

div{
    div{
        footer{
            display: flex;
            justify-content: center;
            font-family: 'Roboto', sans-serif;
            background-color: vars.$background-footer;    
            height: 9rem;

            .footer_p{
                color: white;
                font-size: 15px;
                font-family: 'Roboto', sans-serif;
            }

            div{
                a{
                    .logo_instagram{
                        padding-top: 2rem;
                        margin-bottom: 10px;
                        @include mixin.medidas(70px, 100px);
                    }
                }
            }

            div{
                a{
                    .logo_gmail{    
                        margin: 20px;
                        @include mixin.medidas(50px, 50px);
                    }
                }
            }

            div{
                a{
                    .logo_facebook{
                        margin: 20px;
                        @include mixin.medidas(44px, 50px);
                    }
                }
            }
        }
    }
}
