@use './variables';

@mixin medidas($altura, $ancho){
    height: $altura;
    width: $ancho;
}

div{
    div{
        footer{
            display: flex;
            justify-content: center;
            font-family: 'Roboto', sans-serif;
            background-color: variables.$background-navfooter;    
            height: 9rem;

            .footer_p{
                color: black;
                font-size: 15px;
                font-family: 'Roboto', sans-serif;
            }

            div{
                a{
                    .logo_instagram{
                        padding-top: 2rem;
                        margin-bottom: 10px;
                        @include medidas(70px, 100px);
                    }
                }
            }

            div{
                a{
                    .logo_gmail{    
                        margin: 20px;
                        @include medidas(50px, 50px);
                    }
                }
            }

            div{
                a{
                    .logo_facebook{
                        margin: 20px;
                        @include medidas(44px, 50px);
                    }
                }
            }
        }
    }
}
