@use './mixin' as mixin;

@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

main{
    div{
        div{
            h1{
                @include mixin.h1;
            }
        }
    }

    section{
        .main_section_div_img_vid{
            display: flex;
            justify-content: center;
            align-items: center;

            .img_l4d2_inicio{
                @include mixin.medidas (315px, 400px);
            }
        }

        .main_section_div_img_vid{
            display: flex;
            justify-content: center;
            align-items: center;

            iframe{
                @include mixin.medidas (315px, 400px);
            }
        }
    }

    div{
        div{
            h2{
                @include mixin.h2;
            }

            p{
                color: white;
                padding: 10px;
                font-size: 15px;
                font-family: 'Roboto', sans-serif;
                margin-bottom: 0px;
            }
        }
    }

    div{
        div{
            h3{
                @include mixin.h3;
            }

            p{
                color: white;
                padding: 10px;
                font-size: 15px;
                font-family: 'Roboto', sans-serif;
                margin-bottom: 0px;
            }
        }
    }
}