@use './mixin' as mixin;

main{
    section{
        .div_img{
            .img_1{
                @include mixin.medidas(250px, 400px);
            }
        }
    }

    section{
        .img_vid_colum{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .img_2{
                @include mixin.medidas(400px, 400px);
            }

            iframe{
                @include mixin.medidas(315px, 400px);
            }
        }
    }

    section{
        .div_img{
            .img_3{
                @include mixin.medidas(150px, 250px);
                margin-bottom: 30px;
            }
        }
    }
}