@use './mixin' as mixin;


main{
    section{
        display: flex;
        margin-top: 30px;
        color: black;

        div{
            width: 100%;

            p{
                color: white;
                padding: 10px;
                font-size: 15px;
                font-family: 'Roboto', sans-serif;
                margin-bottom: 0px;
            }

            nav{
                .li_container{
                    color: white;
                    margin-left: 10px;
                    font-size: 15px;
                    font-family: 'Roboto', sans-serif;
                    margin-bottom: 30px;
    
                    li{
                        list-style: none;

                        a{
                            color: rgb(101, 226, 43);
                            text-decoration: none;
                            font-size: 20px;

                            &:active{
                                color: rgb(58, 43, 226);
                            }
                        }
                    }
                }
            }
        }

        div{
            .img_1{
                @include mixin.medidas(250px, 400px);
            }
        }

    }
    
    section{
        div{
            h3{
                @include mixin.h3;
            }
            .h3_curiosidades{
                text-align: start;
                font-size: 20px;
            }

            .li_container{
                color: white;
                margin-left: 10px;
                font-size: 15px;
                font-family: 'Roboto', sans-serif;

                li{
                    list-style: none;
                }
            }
        }

        .div_img{
            display: flex;
            justify-content: center;
            align-items: center;

            .img_2{
                @include mixin.medidas(400px, 400px);
            }
        }
    }
} 